<!DOCTYPE html>
<html>
<script 
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body> 



<div ng-app="" ng-init="points=[1,15,1,4,343,44,3]">
	<p> The third result is {{points[2]}}</p>
</div>
</body>
</html>