<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="" ng-init="firstName='John'; lastName='Doe' ">

<p>The full name is: {{ firstName + " " + lastName }}</p>

</div>

</body>
</html>
