<!DOCTYPE html>
<html>
<script>
src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>

<div ng-app="" ng-init="person{firstName:'Iliya, lastname:'Bogomya'}">
	
	<p> The name is {{person.firstName}}</p>
	
</div>

</body>
</html>
