<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<p>Change the value of the input field:</p>

<div ng-app="" ng-init="quantity=5;cost=5">
	<p> Total in dollar: {{quantity * cost}}</p>
</div>


</body>
</html>