<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<select ng-model="selectedName" ng-options="x for x in names">
</select>

</div>

<script>
		var app = angular.module("myApp",[]);
		app.controller("myCtrl", function  ($scope){
		$scope.names = ["Iliya","Aleksandrina","Sergey"]; 
		});
</script>

<p>This example shows how to fill a dropdown list using the ng-options directive.</p>

</body>
</html>
