<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<select>
<option ng-repeat="x in names">{{x}}</option>
</select>

</div>

<script>
		var app = angular.module("myApp",[]);
		app.controller("myCtrl", function  ($scope){
		$scope.names = ["Iliya","Aleksandrina","Sergey"]; 
		});
</script>
<p>This example shows how to fill a dropdown list using the ng-repeat directive.</p>

</body>
</html>
