<!DOCTYPE HTML>
<html>
<script
 src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>

<form ng-app="" name="myform">
			 Email:
			<input type="email" name="myadress" ng-model="text">
			<span ng-show="myform.myadress.$error.email"> Not a valid e-mail address</span>
</form>


<p>Enter your e-mail address in the input field.AngularJS
 will display an errormessage if the address is notan e-mail.</p>


</body> 
</html>