<!DOCTYPE HTML>
<html>
<script
 src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>

<form ng-app="" name="myform" ng-init="myText = post@myweb.com'">
			 Email:
			<input type="email" name="myaddress" ng-model="text" required>
			<p> Edit the e-mail address, and try to change the status.</p>
			<h1>Status</h1>
			<p>Valid:{{myform.myaddress.$valid}} (if true, the value meets all criteria).
			</p>
			<p>Dirty: {{myform.myaddress.$dirty}} (if true, the value has been changed).
			</p>
			<p>Touched: {{myform.myaddress.$touched}} (if true, the field has been in focus).</p>
</form>



</body> 
</html>