<!DOCTYPE HTML>
<html>
<script
 src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
	Name: <input ng-model="name">
	<h1> You entered: {{name}} </h1>
</div>
<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope){
	$scope.name = "Iliya Bogomya"	
	});
</script>


</body> 

</html>