<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">

<input ng-model="name">
<h1>My name is: {{name}} </h1>
</div>
<script>
 var app = angular.module("myApp", []);
 app.controller("myCtrl",function($scope){
 $scope.name = "Iliya";
 });
</script>

<p>When you change the name in the input field, the changes will affect the model, and it will also affect the name property in the controller.</p>

</body>
</html>