<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">

	<ul>
	<li ng-repeat="x in names">{{x}}</li>
	
	</ul>


</div>
<script>
		var app = angular.module("myApp", []);
		app.controller("myCtrl", function($scope){
		$scope.names =["Iliya", "Aleksandrina","Sergey"];
		});
</script>

</body>
</html>