<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
<h1>{{carname}} </h1>

</div>

<script>
	var app =angular.module("myApp",[]);
	app.controller("myCtrl", function($scope){
	$scope.carname = "MAN";
	});
</script>

<p>The property "carname" was made in the controller, and can be referred to in the view by using the {{ }} brackets.</p>

</body>
</html>