<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
<p>{{ x1 }}</p>
<p>{{ x2 }}</p>
</div>

<script>
	var app = angular.module("myApp",[]);
	app.controller("myCtrl", function($scope){
	$scope.x1 = 4;
	$scope.x2 = angular.isString($scope.x1);
	});
</script>

</body>
</html>
