<!DOCKTYPE HTML>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body> 


<div ng-app="">
	<p> My first expression: {{5+6}}</p>
<div>

</body>
<html>