<!DOCTYPE HTML>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="">
	<p> Name: <input type="text" ng-model="name"></p>
	<p>{{name}}</p>
</div>

</body>
</html>