<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
<p> The time is : </p>
<h1>{{myTime}}</h1>
</div>

<p>The $interval service runs a function every specified millisecond.</p>

<script>
		var app  = angular.module("myApp",[]);
		app.controller("myCtrl",function($scope,$interval){
		$scope.myTime = new Date().toLocaleTimeString();
		$interval(function(){
			$scope.myTime = new Date().toLocaleTimeString();
			}, 1000);
		});
</script>

</body>
</html>
