<!DOCTYPE html>
<html>
<style>
table, th , td  {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 8px;
}
</style>
<script 
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<table>
	<tr ng-repeat="x in names">
    <td ng-if="$odd" style="background-color:#f1f1f1">
    {{ x.Name }}</td>
    <td ng-if="$even">
    {{ x.Name }}</td>
    <td ng-if="$odd" style="background-color:#f1f1f1">
    {{ x.Country }}</td>
    <td ng-if="$even">
    {{ x.Country }}</td>
  </tr>
</table>

</div>


<script>
		var app = angular.module("myApp",[]);
		app.controller("myCtrl", function($scope,$http){
		$http.get("http://www.w3schools.com/angular/customers.php")
		.then(function(response){
		$scope.names = response.data.records;});
		});
</script>

</body>
</html>