<!DOCTYPE html>
<html>
<script 
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<table>
	<tr ng-repeat="x in names">
		<td>{{x.Name}}</td>
		<td>{{x.Country}}</td>
	</tr>
</table>

</div>


<script>
		var app = angular.module("myApp",[]);
		app.controller("myCtrl", function($scope,$http){
		$http.get("http://www.w3schools.com/angular/customers.php")
		.then(function(response){
		$scope.names = response.data.records;});
		});
</script>

</body>
</html>