<!DOCTYPE HTML>
<html>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>
	
	<div ng-app="myApp" ng-controller="myCtrl">
	<p> First name: {{firstname}}</p>
	</div>
	
<script>
		var app = angular.module("myApp", []);
		app.controller("myCtrl",function($scope){
		$scope.firstname = "Iliya";
		$scope.lastname  = "Bogomya";
		});
</script>

<p>Use the ng-bind directive to bind the innerHTML of an element 
	to a property in the data model.</p>
	 
</body>
</html>