<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

	<input type="text" ng-model="firstname">
</div>

<script>
		var app = angular.module("myApp", []);
		app.controller("myCtrl", function($scope){
		$scope.firstname='Iliya';	
		});
</script>

<p>Use the ng-model directive on HTML controls (input, select, textarea) to bind data between the view and the data model.</p>

</body>
</html>