<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

	 Name: <input ng-model="firstname">
	<h1>{{firstname}} </h1>
</div>

<script>
		var app = angular.module("myApp", []);
		app.controller("myCtrl", function($scope){
		$scope.firstname='Iliya';
		$scope.lastname='Bogomya';
		});
</script>

<p>Change the name inside the input field, 
and the model data will change automatically, 
and therefore also the header will change it's value.</p>

</body>
</html>