<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="">
  <form>
    Check to show a header:
  </form>
  <input type="checkbox" ng-model="myVar">
  <h1 ng-show="myVar">MY HEADER</h1>
</div>

<p>The header's ng-show attribute is set to true when the checkbox is checked.</p>

</body>
</html>