<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

  

<div ng-app="myApp" ng-controller="myCtrl">
	<form novalidate>
	First Name:<br>
	<input type="text" ng-model="user.firstname"><br>
	Last Name:<br>
	<input type="text" ng-model="user.lastname">
	<br><br>
	<button ng-click="reset()">RESET</button>
	</form>
	<p>form = {{user}}</p>
	<p>master = {{master}}</p>
</div>

<script>
	var app = angular.module("myApp", []);
	app.controller("myCtrl", function($scope){
	$scope.master = {firstname:"John", lastname:"Doe"};
	$scope.reset = function() {
		$scope.user = angular.copy($scope.master);
	};
	$scope.reset();
});
</script>

</body>
</html>