<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="">

  <form>
    Pick a topic:
	<select ng-model="myVar">
		<option value="">
		<option value="dogs">Dogs
		<option value="tuts">Tutorials
		<option value="cars">Cars
	</select>
  </form>

<div ng-switch="myVar">
	<div ng-switch-when="dogs">
		<h1>Dogs</h1>
		<p>Welcome to a world of dogs.</p>
	</div>
	<div ng-switch-when="tuts">
		<h1>Tutorials</h1>
		<p>Learn from examples.</p>
	</div>
	<div ng-switch-when="cars">
		<h1>Cars</h1>
		<p>Read about cars.</p>
	</div>
</div>

<p>The ng-switch directive hides and shows HTML sections depending on the value of the radio buttons.</p>
</body>
</html>