<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<p>Today's welcome message is:</p>
<h1>{{myWelcome}}</h1>

</div>
	<p>The $http service requests a page on the server, and the response is set as the value of the "myWelcome" variable.</p>

	
<script>
		var app = angular.module("myApp",[]);
		app.controller("myCtrl", function($scope,$http){
		$http.get("welcome.htm")
		.then(function(response){
			$scope.myWelcome = response.data;
		
	});				
});

</script>

</body>
</html>
