<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="">

<p> Try writing an E-mail address in the input field: </p>

<form name="myForm">
<p>Name:
<input name="myName" ng-model="myName" required>
<span ng-show="myForm.myName.$touched && myForm.myName.$invalid"> The name is required.</span>

<p> Adress:
<input name="myAddress" ng-model="myAddress" required>
</p>
</form>

<p>We use the ng-show directive to only show the error
 message if the field has been touched AND is empty.</p>


</body>
</html>