<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
	<meta charset="UTF-8">
	<title>AngularJS Todo List App</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script 
		src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
	</script>
	<script src="controller.js"></script>
</head>
<body>
	<div class="block-left">
	<h3>AngularJS </h3>
		<ul class="links">
			<li>Example</li>
			<li><a href="https://github.com/tastejs/todomvc/tree/gh-pages/examples/angularjs">Source</a></li>
			<li>Require.js & AngularJS</li>
			<li><a href="http://todomvc.com/examples/angularjs_require">Demo</a>,<a href="https://github.com/tastejs/todomvc/tree/gh-pages/examples/angularjs_require">Source</a></li>
			<li>AngularJS Optimized</li>
			<li><a href="http://todomvc.com/examples/angularjs-perf/#/">Demo</a></li>
			<li>TypeScript & AngularJS</li>
			<li><a href="http://todomvc.com/examples/typescript-angular">Demo</a></li>
			<li>Google Cloud Platform + Express</li>
			<li><a href="http://gcloud-todos.appspot.com/examples/angularjs/#/completed">Demo</a>, <a href="http://gcloud-todos.appspot.com/examples/angularjs/#/">Source</a></li>
		</ul>
			<br>
			<div height="1" style="border-bottom: 1px dotted #ccc; "></div>
				<blockquote class="quote speech-bubble">
					<br>
					<p>HTML is great for declaring static documents, but it falters when we try to 
					use it for declaring dynamic views in web-applications. AngularJS lets you
					extend HTML vocabulary for your application. The resulting environment is
					extraordinarily.</p> 
				</blockquote>
			<a class="a-bottom" href="http://angularjs.org/">AngularJS</a>
			<div height="1" style="border-bottom: 1px dotted #ccc; position:relative; top:-20px; "></div>
						<h4>Official Resources</h4>	
							<ul class="list-off-res">
								<li><a href="http://docs.angularjs.org/tutorial">Tutorial</a></li> 
								<li><a href="http://docs.angularjs.org/api">API Reference</a></li>
								<li><a href="http://docs.angularjs.org/guide">Developer Guide</a></li>  
								<li><a href="https://www.madewithangular.com/">Applications built with AngularJS</a></li>
								<li><a href="http://blog.angularjs.org">Blog</a></li>
								<li><a href="http://docs.angularjs.org/misc/faq">FAQ</a></li>
								<li><a href="https://www.youtube.com/user/angularjs">Videos</a></li>
							</ul>
						<br>
						<h4>Articles and Guides</h4>
							<ul class="list-off-res">
								<li><a href="https://www.codeschool.com/courses/shaping-up-with-angular-js">Code School AngularJS course</a></li>
								<li><a href="http://net.tutsplus.com/tutorials/javascript-ajax/5-awesome-angularjs-features">5 Awesome AngularJS Features</a></li>
								<li><a href="http://briantford.com/blog/angular-yeoman.html">Using Yeoman with AngularJS</a></li>
								<li><a href="http://stephenplusplus.github.io/meangular">me&amp;ngular - an introduction to MVW</a></li>
							</ul>
						<br>
						<h4>Community</h4>
							<ul class="list-off-res"> 
								<li><a href="http://www.youtube.com/playlist?list=PL1w1q3fL4pmgqpzb-XhG7Clgi67d_OHXz">Walkthroughs and Tutorials on YouTube</a></li>
								<li> <a href="https://groups.google.com/forum/?fromgroups#!forum/angular">Google Groups mailing list</a></li>
								<li> <a href="http://stackoverflow.com/questions/tagged/angularjs">angularjs on Stack Overflow</a></li>
								<li> <a href="https://twitter.com/angularjs">AngularJS on Twitter</a></li>
								<li> <a href="https://plus.google.com/+AngularJS/posts">AngularjS on Google+</a></li>
							</ul>
							<div height="1" style="border-bottom: 1px dotted #ccc; position:relative; top:30px; "></div>
							<br>
							<br>
									<em class="footer">If you have other helpful links to share, or find any of the links above no longer work, please 
										<a href="https://github.com/tastejs/todomvc/issues">let us know</a>.
									</em>
	</div>
	</div>
	<div id="container" ng-controller="myCtrl">
		<h1>todos</h1>
			<form ng-submit="addTask()" >
				<input class="input"  type="text" ng-model="task" class="form-control" placeholder="What needs to be done?"/><br>
			</form>
				<ul>
					<li class="li"  ng-repeat="task in tasks">
						<input type="checkbox" ng-model="task.isDone"/>
							<span contenteditable="false" ng-dblclick="contentedit()" ng-class="{'done':task.isDone}">{{task.name}}</span>
								<span class="button-delete" ng-click="removeItem($index)">x</span>
							</li>
						<br>
					<div class="footer">
						<form>
							<div class="btn-3">
								<button type="button" class="btn  btn-xs btn-margin" ng-click="showall()"> All </button>
								<button type="button" class="btn  btn-xs" ng-click="complete()"> Completed </button>
								<button type="button" class="btn  btn-xs" ng-click="active()"> Active </button>
							</div>
								<div class="btn-4">
							</div>
						<p> {{tasks.length}} item left  </p>
					</form>
				</div>
			</ul>
		</div>
	</body>
</html>
	
	