.block-left{
	width: 292px;
	height: 1230px;;
	background:#fbfbfb;
	float:left;
	margin:10px 0px 5px 10px;
	border-radius:5px;
}
*{
	padding:0px;
	margin:0px;
}
#container{
		width: 500px;
		margin:0px 600px; 
}
.done{
		color:#ccc;
		text-decoration:line-through;
}
li,ul{
	margin:0;
	padding:0;
} 
body{
	background:#f5f5f5;
}
h1{
	margin: 0px 130px;
	font-size:100px;
	color:red;
	opacity:0.15;
}
.input{
	height:60px;
	width:500px;
	font-size:25px;
	font-style:italic;
	padding-left:60px;
}
.li{
	list-style:none;
	padding:10px 20px;
	background:#fff;
	margin-top: 1px;
	border:1px solid #ccc;
	font-size:25px;
}
input[type="text"]:focus {
	outline: none; 
}
.footer{
	margin:-20px 0px 0px 0px ;
	width:500px;
	height:40px;
	background:#fff;
	border-top:1px solid #fff;
}
.btn-3{
	margin:6px 0px 0px 150px;
}
.btn-4{
	margin:-21px 30px 0px 0px;
	float:right;
}
.button-delete{
	float:right;
	position:relative;
	left:5px;
	cursor: pointer;
	
}
p{
	margin:-20px 0px 0px 10px;
	font-size:15px;
	color:#ccc;
}
input[type="checkbox"] {
	border:15px;
	width:25px;
	height:25px;
	margin-right:15px;
	float:left;
}
.links li{
	list-style:none;
}
.links li:nth-child(even){
	padding-bottom:10px;
	list-style:none;
}
.links li,h3 {
	margin-left:5px;	
}
span[contenteditable= "true"]{
	padding:10px 0px;
}
.quote {
    border: none;
    margin: 20px 0 60px 0;
}
.quote p {
	color:black;
}
.quote p:before {
    content: "“";
    font-size: 50px;
    opacity: 0.15;
    position: absolute;
    top: -5px;
    left: 3px;
}
.quote p:after {
    content: "”";
    font-size: 50px;
    opacity: 0.15;
    position: absolute;
    bottom: -47px;
    right: 3px;
}
.speech-bubble {
	padding:-20px;
    position: relative;
    background: rgba(0, 0, 0, .04);
    border-radius: 5px;
}
.speech-bubble:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 30px;
    border: 13px solid transparent;
    border-top-color: rgba(0, 0, 0, .04);
}
.a-bottom{
	position:relative;
	top:-40px;
	left:215px;	
}
a {
	color:#b84a56;	
}
a:hover{
	color:#c0c0c0;
}
.list-off-res{
	padding:5px 0px 0px 30px;
}
.list-off-res li{
	padding-bottom:1px;
}
