<!DOCTYPE HTMl>
<html lang ="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>


<div ng-app="">
	<p>Name : <input type='text' ng-model='name'></p>
	<h1>Hello {{name}} </h1>
</div>

</body>
</html> 