<!DOCTYPE HTML>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<h1>Price: {{ price | currency }}</h1>
</div>

<script>
		var app = angular.module("myApp",[]);
		app.controller("myCtrl", function($scope){
		$scope.price = 58;
		});
</script>

<p>The currency filter formats a number to a currency format.</p>

</body>
</html>