<!DOCTYPE HTML>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<p>Type a letter in the input field:</p>

<p><input type ="text" ng-model="test"></p>
	<ul>
		<li ng-repeat="x in names | filter:test">
		{{x}}
		</li>
	</ul>
</div>

<script>
		var app = angular.module("myApp",[]);
		app.controller("myCtrl", function($scope){
		$scope.names = [
		'Jani',
        'Carl',
        'Margareth',
        'Hege',
        'Joe',
        'Gustav',
        'Birgit',
        'Mary',
        'Kai'
		];
		});
</script>

<p>The list will only consists of names matching the filter.</p>

</body>
</html>