<!DOCTYPE HTML>
<html>
<script 
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>


<p>Click the table headers to change the sorting order:</p>

<div ng-app="myApp" ng-controller="myCtrl">

<table border="2" width="100%">
<tr>
	<th ng-click="orderByMe('name')"> Name</th>
	<th ng-click="orderByMe('country')">Country</th>
</tr>
<tr ng-repeat="x in names | orderBy:myOrderBy">
	<td>{{x.name}} </td>
	<td>{{x.country}}</td>
</tr>
</table>
</div>

<script>
 var app angular.module("myApp",[]);
 app.controller("myCtrl", function($scope){
	$scope.names = [
		{name:'Jani',country:'Norway'},
        {name:'Carl',country:'Sweden'},
        {name:'Margareth',country:'England'},
        {name:'Hege',country:'Norway'},
        {name:'Joe',country:'Denmark'},
        {name:'Gustav',country:'Sweden'},
        {name:'Birgit',country:'Denmark'},
        {name:'Mary',country:'England'},
        {name:'Kai',country:'Norway'}
		];
	$scope.orderByMe = function(x){
				$scope.myOrderBy = x;
	}
});
</script>

<p>The list will only consists of names matching the filter.</p>

</body>
</html>