<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="personCtrl">

<p>The name is {{ lastname | lowercase }}</p>

</div>

<script>
		angular.module("myApp",[]).controller("personCtrl", function($scope){
		$scope.firstname = "Iliya",
		$scope.lastname  = "Bogomya"
		});
		
</script>

</body>
</html>
