<!DOCTYPE HTML>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

	<ul>
		<li ng-repeat="x in names| filter : 'i'">
		{{x}}
		</li>
	</ul>
</div>

<script>
		var app = angular.module("myApp",[]);
		app.controller("myCtrl", function($scope){
		$scope.names = [
		'Jani',
        'Carl',
        'Margareth',
        'Hege',
        'Joe',
        'Gustav',
        'Birgit',
        'Mary',
        'Kai'
		];
		});
</script>

<p>This example displays only the names containing the letter "i".</p>

</body>
</html>