/*
Theme name: Путешествия 
Theme URL:
Description: Здравствуйте, меня зовут Илья. Мне 18 лет. Программист третьего курса . И это мой первый полноценный сайт.
Version: 1.0
Author: ILRI
Author URL: wwwILRIwww@mail.ru
*/
@charset "utf-8";
*{
padding:0; margin:0;
}
body{
background:#ecede8 url(./images/bg.body.jpg) center top no-repeat;
}
ul {
    list-style:none;
	}
.main{
 width:970px; margin:0 auto;
}
    .head{
         height:250px;
           }
        .head h2{
            font: 24px "Century Gothic"; color:#3f282f; float:left; margin-top:10px;
           }
        .head a{
            font: 26px "Century Gothic" ;color:#716b5b; text-decoration:none; float:right; margin:20px 10px;
           }
        .head a span { color:#a73700; 
          }    
     .content-main{
	      background:#f7f7f7; border: 1px solid #fff; overflow:hidden;
		  border-radius:15px ;
	       -moz-border-radius:15px ;
	         -webkit-border-radius:15px ;
		  }
		  
    .menu{
	list-style:none; background:#3f282f; overflow:hidden;
	border-radius:15px 15px 0 0 ;
	-moz-border-radius:15px 15px 0 0 ;
	-webkit-border-radius:15px 15px 0 0 ;
	}
	      .menu li{ 
		      float:left; background:url(./images/bg-menu.jpg) left center no-repeat; padding:10px 35px;
			  }
			  .meni li:first-child{
			  float:left; padding:15px 35px; background:none;
			  }
             .menu li a { 
			    color:#ffffff; font: 18px "Century Gothic"; text-decoration:none;
				}
			 .menu li a:hover { 
		        color:#ffffff; font: 18px "Century Gothic"; text-decoration:underline;
				}
			.search-main{
                 float:right; margin: 0 25px 0 0;
                }	
             input[type="text"]{
			    margin:0 15px 10px 0;
			    background:#f7f7f7; height:23px; width:230px; border:1px solid #fff;
			    border-radius:2px;
	            -moz-border-radius:2px;
	            -webkit-border-radius:2px;
                } 
             input[type="image"]{
                 position:relative;top:10px;
                }				 
    .content{
	    width:700px; float:left; margin: 20px 0 20px 20px;
	   }
	   .post-main{
	   background:#f5f5f5; border:1px solid #e7e2e3; 
	   border-radius:25px;
	   -moz-border-radius:25px;
	   -webkit-border-radius:25px;
	   margin:0 0 20px 0;
	   }
	     .post-main h1 {
		  font: normal 24px "Verdana"; color:; background:#e2e0e1;
		   border-radius:25px 25px 0 0;
	       -moz-border-radius:25px 25px 0 0;
	       -webkit-border-radius:25px 25px 0 0 ;
	       padding:5px 20px 8px 15px; margin: 0 0 5px 0; 	
		 }
		  .post-main h1 a{
		      font:normal 24px Verdana;  color:#3f282f; text-decoration:none;
		  }
		   .post-main h1 a:hover{
		      font:normal 24px Verdana;  color:#3f282f; text-decoration:underline; 
		  }
		    .post-main h1 span{
			  font: normal 12px Verdana; color:#a99ea1; opacity:50%;
			}
		.imgstyle{
		 float:left; margin: 0 15px 15px 0;
		 }
	 .post{
	      margin: 0 15px 15px 15px; 
	   }  
	      .post p{
		      font: 12px Verdana; color:#000; margin: 0 0 15px 0;
		  }
		    .post p a{
			color:#3f282f; text-decoration:underline;
			}
			.post p a:hover{
			color:#3f282f; text-decoration:none;
			}
		.sidebar{
		    width:207px; float:right; margin: 20px 0 0 20px; margin-right:20px;
			}
		.vidget{ 	
		 background: #e7e2e3; border:1px solid #d7d3d4; margin: 0 20px 0 0;
		border-radius:8px;
			-moz-border-radius:8px ;
				-webkit-border-radius:8px;
		 }
	.vidget h2{
	background:#3f282f;	text-align:center; color:#fff; font: 18px "Century Gothic" ; padding: 5px 0;
			
	border-radius:8px 8px 0 0 ;
			-moz-border-radius:8px 8px 0 0 ;
				-webkit-border-radius:8px 8px 0 0;		
				}
	.vidget ul {
		list-style:none; padding: 25px 15px;
				}
    .vidget ul li{
			border-bottom: 1px solid #c8bbbd; border-top: 1px solid #fff; color:#000; font-family:"Century Gothic"; padding: 5px 0 5px 20px;
			
				}
   .vidget ul li:first-child{
			border-top:none;
	}
	.vidget ul li:last-child{
			border-bottom:none;	
	}
	.vidget ul li a{
			font:14px "Century Gothic"; color:#000; text-decoration:underline;
					}
	.vidget ul li a:hover{
			font:14px "Century Gothic"; color:#000; text-decoration:none; 
					}
			.footer{
					overflow:hidden; padding: 30px 0 ; opacity: 0.5;
				}
				.cpy{
				float:left; 
						}
						.cpy a{
            font: 26px "Century Gothic" ;color:#716b5b; text-decoration:none;  margin:20px 10px 0 0;
				}
				
        .cpy a span { 
		        color:#a73700; 
          }    
		  .cpy p{
					font:14px "Verdana"; color:#000; margin: 10px 0 0 0 ;
				}
			.menu-foot{ 
		float:left; margin: 0 105px;
			}
			.menu-foot h2 {
			font: normal 24px "Century Gothic"; color:#3f282f;
								}
				.menu-foot ul li a{
				font: 14px "Century Gothic"; color:#000;
										}				
				.menu-foot ul li a:hover{
				font: 14px "Century Gothic"; color:#000; text-decoration:none;
										}		
										

*{
	padding:0; margin:0;
	}
#slider{
	background: #b5b5b5;
	border: 1px solid #3f282f;
	height: 266px;
	margin-top: 0px;
	width: 927px;
	overflow: hidden;
	position: relative;
	margin: 15px auto 25px;
}

#cyclePager{
	position: absolute;
	height: 18px;
	overflow: hidden;
	right: 20px;
	bottom: 20px;
	z-index: 99;
}

	#cyclePager a{
		background: transparent url(./images/pager-gal.png) 0 0 no-repeat;
		display: block;
		float: left;
		height: 17px;
		margin-left: 10px;
		text-indent: -9999px;
		width: 17px;
	}

	#cyclePager a:hover,
	#cyclePager a.activeSlide{background-position: -17px 0;}

