<!DOCTYPE html>
<html>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
	<ul>
		<li ng-repeat="x in products">{{x}} 
		<span ng-click="removeItem($index)">x</span>
		</li>
	</ul>
	<input ng-model="addMe">
	<button ng-click="addItem()">Add</button>
</div>
<p>Click the little x to remove an item from the shopping list.</p>

<script>
	var app = angular.module("myApp", []);
	app.controller("myCtrl", function($scope){
	$scope.products = ["Milk", "Bread", "Chicken"]
	$scope.addItem = function (){
		$scope.products.push($scope.addMe);
	}
	$scope.removeItem = function (x) {
	$scope.products.splice(x, 1);
	}
});



</script>

</body>
</html>