<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
	<ul>
		<li ng-repeat="x in products">{{x}} 
		<span ng-click="removeItem($index)">x</span>
		</li>
	</ul>
	<input ng-model="addMe">
	<button ng-click="addItem()">Add</button>
	<p>{{errortext}}</p>
</div>
<p>Click the little x to remove an item from the shopping list.</p>
<p>Try to add the same item twice, and you will get an error message.</p>

<script>
	var app = angular.module("myApp", []);
	app.controller("myCtrl", function($scope){
	$scope.products = ["Milk", "Bread", "Chicken"]
	$scope.addItem = function (){
		$scope.errortext = "";
		if (!$scope.addMe) {return;}
		if ($scope.products.indexOf($scope.addMe) == -1){
			$scope.products.push($scope.addMe);
		} else {
			$scope.errortext ="Товар в списке покупок."
		}
	}
	$scope.removeItem = function (x) {
		$scope.errortext = "";
		$scope.products.splice(x, 1);
	}
});



</script>

</body>
</html>