<!DOCTYPE html>
<html>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
	<ul>
		<li ng-repeat="x in products">{{x}}</li>
	</ul>
</div>

<p>So far we have made an HTML list based on the items of an array.</p>

<script>
	var app = angular.module("myApp", []);
	app.controller("myCtrl", function($scope){
	$scope.products = ["Milk", "Bread", "Chicken"];
	});



</script>

</body>
</html>