<!DOCTYPE html>
<html>
<script
src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>


<div ng-app="myApp" ng-controller="myCtrl">

<button ng-click ="count = count + 1 ">Click Me!</button>

<p>{{count}} </p>

</div>

<script>
	var app = angular.module("myApp",[]);
	app.controller("myCtrl", function($scope){
		$scope.count = 0;
	});
</script>

</body>
</html>
