<!DOCTYPE html>
<html>
<script
src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>


<div ng-app="myApp" ng-controller="myCtrl">

<button ng-click ="myFunction()">Click Me!</button>
 
	<div ng-show="showMe">
		<h1>Menu:</h1>
		<div>Pizza</div>
		<div>Pasta</div>
		<div>Pesce</div>
	</div>
	
</div>

<script>
	var app = angular.module("myApp",[]);
	app.controller("myCtrl", function($scope){
		$scope.showMe = false;
		$scope.myFunction = function (){
		$scope.showMe = !$scope.showMe;
		}
	});
</script>

</body>
</html>
