<!DOCTYPE HTML>
<html>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>
	
	<div ng-app="" ng-init="names=[
	{name:'Iliya',country:'Belarus'},
	{name:'Aleksandrina',country:'Belarus'},
	{name:'Genya', country:'Belarus'}]">
	
	<ul>
		<li ng-repeat="x in names">
		{{x.name + ', ' + x.country}}
		</li>
	</ul>
	
	
	</div>
</body>


</html>