<!DOCTYPE HTML>
<html>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>

<div ng-app="" ng-init="firstname='John'"> 
	<p> Input something in the input box </p>
	<p> Name: <input type="text" ng-model="firstname"></p>
	<p> You wrote: {{firstname}} </p>
</div>

</body>


</html>