<!DOCTYPE HTML>
<html>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>
	
	<div ng-app="" ng-init="names=['Iliya','Aleksandrina','Sergey']">
	<ul>
		<li ng-repeat="x in names">
		{{x}}
		</li>
	</ul>
	</div> 
</body>


</html>