<!DOCTYPE HTML>
<html>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<body>
	
	<div ng-app="" ng-init="quantity=3;price=10">
	
	Quantity: <input type="number" ng-model="quantity">
	Costs: <input type="number"	   ng-model="price">
	
	Total in dollar: {{quantity * price}}
	</div>
</body>


</html>